<template name="search">

	<div class="row results">
		{{#each results}}
		{{> searchItem}}
		{{else}}
		<div class="empty col-xs-12">
			<p>
				{{ i18n 'results.empty' }}
			</p>
			<button class="add btn btn-primary">
				<span class="fa fa-plus"></span>
				{{ i18n 'item.new'}}
			</button>
		</div>
		{{/each}}
	</div>
</template>

<template name="searchItem">
	<div class="item-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="thumbnail item">
			<h4 class="title">{{{title}}}</h4>
			<div class="description">{{{description}}}</div>
		</div>
		{{#if canEdit}}
		<div class="controls">
			<button class="edit btn btn-primary">
				<span class="fa fa-pencil"></span>
			</button>
			<button class="delete btn btn-warning">
				<span class="fa fa-trash-o"></span>
			</button>
		</div>
		{{/if}}
	</div> 
</template>