<template name="search">

	<div class="row results">
		{{#each results}}
		{{> searchItem}}
		{{else}}
		<div class="empty col-xs-12">
			<p>
				{{ translate 'results.empty' }}
			</p>
			<button class="add btn btn-primary">
				<span class="fa fa-plus"></span>
				{{ translate 'item.new'}}
			</button>
		</div>
		{{/each}}
	</div>
</template>

<template name="searchItem">
	<div class="item-wrapper col-xs-12 {{openClass}}">
		<div class="item left col-xs-12 col-sm-6">
			<div class="title" style="text-align: {{titleLeftAlignment}}">
				<a href="{{ pathFor 'item' }}">
				{{titleLeft}}
				</a>
			</div>
			<div class="description">{{{descriptionLeft}}}</div>
		</div>
		<div class="item right col-xs-12 col-sm-6">
			<div class="title" style="text-align: {{titleRightAlignment}}">
				<a href="{{ pathFor 'item' }}">
				{{titleRight}}
				</a>
			</div>
			<div class="description">{{{descriptionRight}}}</div>
		</div>
		<div class="controls">
			<button class="more btn btn-link">
				<span class="fa fa-chevron-down"></span>
				<span class="hidden-xs">
					{{ translate "more.button" }}
				</span>
			</button>
			<button class="less btn btn-link">
				<span class="fa fa-chevron-up"></span>
				<span class="hidden-xs">
					{{ translate "less.button" }}
				</span>
			</button>
			{{#if canEdit}}
			<button class="edit btn btn-link">
				<span class="fa fa-pencil"></span>
				<span class="hidden-xs">
					{{ translate "edit.button" }}
				</span>
			</button>
			<button class="delete btn btn-link">
				<span class="fa fa-trash-o"></span>
				<span class="hidden-xs">
					{{ translate "delete.button" }}
				</span>
			</button>
			{{/if}}
		</div>
	</div> 
</template>