<template name="search">

	<div class="row results">
		{{#each results}}
		{{> searchItem}}
		{{else}}
		<div class="empty col-xs-12">
			<p>
				{{ translate 'results.empty' }}
			</p>
			<button class="add btn btn-primary">
				<span class="fa fa-plus"></span>
				{{ translate 'item.new'}}
			</button>
		</div>
		{{/each}}
	</div>
</template>

<template name="searchItem">
	<div class="item-wrapper col-xs-12">
		<div class="thumbnail item left col-xs-12 col-sm-6">
			<h4 class="title">{{{titleLeft}}}</h4>
			<div class="description">{{{descriptionLeft}}}</div>
		</div>
		<div class="separator">&#x00a7;</div>
		<div class="thumbnail item right col-xs-12 col-sm-6">
			<h4 class="title">{{{titleRight}}}</h4>
			<div class="description">{{{descriptionRight}}}</div>
		</div>
		<div class="controls">
			<button class="more btn btn-link">
				<span class="fa fa-chevron-down"></span>
				{{ translate "more.button" }}
			</button>
			<button class="less btn btn-link">
				<span class="fa fa-chevron-up"></span>
				{{ translate "less.button" }}
			</button>
		{{#if canEdit}}
			<button class="edit btn btn-link">
				<span class="fa fa-pencil"></span>
				{{ translate "edit.button" }}
			</button>
			<button class="delete btn btn-link">
				<span class="fa fa-trash-o"></span>
				{{ translate "delete.button" }}
			</button>
		{{/if}}
		</div>
	</div> 
</template>