.item {
	.item-wrapper {
		.box-shadow(@item-shadow);
		margin-bottom: @padding-base-vertical;		

		.item {
			font-family: @font-family-serif;
			padding: 0;
			margin: 0;
			&.right {
				margin-bottom: @item-controls-height;
			}
			@media (min-width: @screen-sm) {
			}
			.title {
				font-family: @font-family-serif;
				font-size: 1.3em;
			}
			.description {
				display: none;
				padding-left: .5em;
				word-wrap: break-word;
			}
		}
		.less.btn {
			display: none;
		}
		&.open {
			// background-image: url(/imgs/item_bg.png);
			// background-size: contain;
			// background-position: center;
			// background-repeat: no-repeat;
			.item {
				padding-bottom: 1em;
				margin-bottom: @line-height-computed;
				.description {
					display: block;
				}
			}
			.less.btn {
				display: inline-block;
			}
			.more.btn {
				display: none;
			}
		}
		.controls {
			.position(auto, 0, 0, 0);
			text-align: center;
			height: @item-controls-height;
			overflow: hidden;
			.btn {
				position: relative;
			}
		}
	}
}