<template name="about">
	{{#if isAdmin}}
	<div class="editor-toolbar" id="toolbar-about" data-role="editor-toolbar" data-target="#editor-about">
		{{> editorToolbarIcons}}
	</div>
	<div class="editor-textarea about" id="editor-about">{{{about}}}</div>
	<button class="save btn btn-primary">
		<span class="fa fa-save"></span>
		{{ translate 'save.button'}}
	</button>
	<button class="cancel btn btn-link">
		<span class="fa fa-times"></span>
		{{ translate 'cancel.button'}}
	</button>
	{{else}}
		{{{about}}}
	{{/if}}

</template>