<template name="usersTable">
	<table class="table">
		<tr>
			<th>Username</th>
			<th data-toggle="tooltip" data-placement="bottom" title="No rights">Normal</th>
			<th data-toggle="tooltip" data-placement="bottom" title="Can define new words, edit/remove existing items">
				Editor
			</th>
			<th data-toggle="tooltip" data-placement="bottom" title="All the rights of an editor and can manage users">
				Admin
			</th>
			<th>Remove</th>
		</tr>
		{{#each users}}
		{{> user}}
		{{/each}}
	</table>

</template>
<template name="user">
	<tr>
		<td>{{username}}</td>
		<td><input type="radio" name="role-{{username}}" checked="{{checked "normal"}}" value="normal" class="role"></td>
		<td><input type="radio" name="role-{{username}}" checked="{{checked "editor"}}" value="editor" class="role"></td>
		<td><input type="radio" name="role-{{username}}" checked="{{checked "admin"}}" value="admin" class="role"></td>
		<td>
			<button class="remove btn btn-danger">
				<span class="fa fa-trash-o"></span>
			</button>
		</td>
	</tr>
</template>