<template name="itemWrapper">
	{{#with item}}
	<div class="item col-xs-12 open">
		{{> item}}
		{{> itemControls}}
	</div>
	{{/ with}}
</template>

<template name="item">
	<div class="row title" id="{{_id}}">
		<div class="left col-xs-12 col-sm-6">
			<em class="hidden">[
				w: {{wordRank}}
				p: {{phraseRank}}
				d: {{descriptionRank}}
				e: {{exampleRank}}
				r: {{rank}}
				]
			</em>
			<ol class="alternatives">
				<li><span class="wordLeft p-inline">{{#markdown}}{{wordLeft}}{{/markdown}}</span></li>
				{{#each leftAlternatives}}
				<li>{{#with category}}<span class="category">({{this}})</span>
					{{/with}}
					<span class="meaning p-inline">{{#markdown}}{{meaning}}{{/markdown}}</span>
				</li>
				{{/each}}
			</ol>
		</div>
		<div class="right col-xs-12 col-sm-6">
			<ol class="alternatives">
				<li><span class="wordRight p-inline">{{#markdown}}{{wordRight}}{{/markdown}}</span></li>
				{{#each rightAlternatives}}
				<li>{{#with category}}<span class="category">({{this}})</span>
					{{/with}}
					<span class="meaning p-inline">{{#markdown}}{{meaning}}{{/markdown}}</span>
				</li>
				{{/each}}
			</ol>
		</div>
	</div>
	{{> senses}}
</template>

<template name="senses">
	<div class="senses">
		{{#each senses}}
		{{> sense}}
		{{/each}}
	</div>
</template>

<template name="sense">
	<div class="row sense">
		<div class="col-xs-12 col-sm-6 left">
			<span class="phrase p-inline">
				{{#markdown}}{{phraseLeft}}{{/markdown}}{{separatorLeft}}
			</span>
			<span class="description p-inline">{{#markdown}}{{descriptionLeft}}{{/markdown}}</span>
			{{#with exampleLeft}}
			<p class="example p-inline">{{#markdown}}{{this}}{{/markdown}}</p>
			{{/with}}
		</div>
		<div class="col-xs-12 col-sm-6 right">
			<span class="phrase p-inline">
				{{#markdown}}{{phraseRight}}{{/markdown}}{{separatorRight}}
			</span>
			<span class="description p-inline">{{#markdown}}{{descriptionRight}}{{/markdown}}</span>
			{{#with exampleRight}}
			<p class="example p-inline">{{#markdown}}{{this}}{{/markdown}}</p>
			{{/with}}
		</div>
		<div class="clearfix"></div>
	</div>
</template>

<template name="itemControls">
	<div class="controls">
		<button class="back btn btn-link">
			<span class="fa fa-chevron-left"></span>
			<span class="hidden-xs">
				{{ translate "back.button" }}
			</span>
		</button>
		{{#if canEdit}}
		<button class="edit btn btn-link">
			<span class="fa fa-pencil"></span>
			<span class="hidden-xs">
				{{ translate "edit.button" }}
			</span>
		</button>
		<button class="delete btn btn-link">
			<span class="fa fa-trash-o"></span>
			<span class="hidden-xs">
				{{ translate "delete.button" }}
			</span>
		</button>
		{{/if}}
	</div>
</template>
