<template name="header">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header brand-wrapper hidden-xs">
				
				<a class="navbar-brand" href="{{ pathFor 'home' }}">
					<span class="logo fa {{appIcon}}"></span>
					{{ translate 'app.title' }}
				</a>
			</div>
			<ul class="nav navbar-nav navbar-left hidden-xs">
				{{#if canEdit}}
				<li>
					<a href="" class="add btn" title="{{ translate 'header.new.title' }}">
						<span class="fa fa-plus"></span>
						<span class="hidden-sm">
							{{ translate 'header.new.title'}}
						</span>
					</a>
				</li>
				{{/if}}
			</ul>
			<div class="search navbar-form navbar-left">
				<div class="form-group">
					<i class="fa fa-search search-icon"></i>
					<input type="text" placeholder="Keywords" class="form-control search-field" value="{{searchString}}">
					{{#if searchString}}
					<button class="clear btn">
						<span class="fa fa-times"></span>
					</button>
					{{/if}}
				</div>
				<!-- <div class="visible-xs clearfix"></div> -->
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<ul class="nav navbar-nav navbar-right hidden-xs">
				{{#if isAdmin}}
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" data-target="languageMenu">
						<span class="fa fa-cogs"></span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="" class="users">
								<span class="fa fa-users"></span>
								{{ translate 'header.user.button' }}
							</a>
						</li>
						<li>
							<a href="" class="app-properties">
								<span class="fa fa-cog"></span>
								{{ translate 'header.app-properties.button' }}
							</a>
						</li>
					</ul>
				</li>
				{{/if}}
				<li>
					<a href="" class="expand-all btn" title="{{ translate 'header.expandAll'}}">
						<span class="fa fa-angle-double-down"></span>
					</a>
				</li>
				<li>
					<a href="" class="contract-all btn" title="{{ translate 'header.contractAll'}}">
						<span class="fa fa-angle-double-up"></span>
					</a>
				</li>
				<li>
					<a href="" class="help btn">
						<!-- <span class="fa fa-question-circle"></span> -->
						{{ translate 'header.about' }}
					</a>
				</li>
				{{#if loginFlag}}
				{{> loginButtons align="right"}}
				{{/if}}
			</ul>
		</div><!-- /.container-fluid -->
	</nav>
</template>