<template name="editor">
	{{#with data}}
	<div class="editor-overlay">
		<div class="editor-modal row">
			<h2 class="col-xs-12 editor-title">{{ translate 'editor.title' }}</h2>
			<div class="editor-wrapper col-sm-6">
				<div class="form-group">
					<label for="title-left">{{ translate 'title.left' }}</label>
					<input type="text" class="form-control" name="title-left" id="title-left" placeholder="" value="{{titleLeft}}">
				</div>

				<div class="editor-toolbar" id="toolbar-description-left" data-role="editor-toolbar" data-target="#editor-description-left">
					{{> editorToolbarIcons}}
				</div>
				{{> wysiwygTextarea text=this.descriptionLeft toolbarSelector='#toolbar-description-left' id='left'}}
			</div>
			<div class="editor-wrapper col-sm-6">
				<div class="form-group">
					<label for="title-right">{{ translate 'title.right' }}</label>
					<input type="text" class="form-control" name="title-right" id="title-right" placeholder="" value="{{titleRight}}">
				</div>
				<div class="editor-toolbar" id="toolbar-description-right" data-role="editor-toolbar" data-target="#editor-description-right">
					{{> editorToolbarIcons }}
				</div>
				{{> wysiwygTextarea text=this.descriptionRight toolbarSelector='#toolbar-description-right' id='right'}}
			</div>
		</div>
		<div class="row footer">
			<button class="save btn btn-primary col-md-3 col-md-offset-4 col-sm-4 col-sm-offset-3 col-xs-8">
				<span class="fa fa-save"></span>
				{{ translate 'save.button' }}
			</button>
			<button class="cancel btn btn-link col-md-1 col-sm-2 col-xs-4">{{ translate 'cancel.button' }}</button>
		</div>
	</div>
	{{/with}}
</template>

<template name="wysiwygTextarea">
	<div class="editor-textarea description-{{id}}" id="editor-description-{{id}}">{{{text}}}</div>
</template>

<template name="editorToolbarIcons">
	<!-- <div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
		<ul class="dropdown-menu">
		</ul>
	</div> -->
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
		<ul class="dropdown-menu" role="menu">
			<li><a data-edit="fontSize 5"><span style="font-size: 1.3em">Huge</span></a></li>
			<li><a data-edit="fontSize 3"><span style="font-size: 1em">Normal</span></a></li>
			<li><a data-edit="fontSize 1"><span style="font-size: .8em">Small</span></a></li>
		</ul>
	</div>
	<div class="btn-group">
		<a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
		<a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
		<a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
		<a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
	</div>
	<div class="btn-group">
		<a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
		<a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
		<!-- <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="glyphicon glyphicon-indent-left"></i></a>
		<a class="btn" data-edit="indent" title="Indent (Tab)"><i class="glyphicon glyphicon-indent-right"></i></a> -->
	</div>
	<div class="btn-group">
		<a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
		<a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
		<a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
		<a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
	</div>
	<!-- <div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
		<div class="dropdown-menu input-append">
			<input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
			<button class="btn" type="button">Add</button>
		</div>
		<a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>

	</div> -->

<!-- 	<div class="btn-group">
		<a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture"></i></a>
		<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
	</div> -->
	<div class="btn-group">
		<a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
		<a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-undo fa-flip-horizontal"></i></a>
	</div>
	<!-- <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech=""> -->
</template>